    /*DOCUMENT INFORMATION
    - Document: LIVRE thème
    - version: 1.0.0
    - Author: QL

*/

    /*COLORS
    -defaut body text
    -h1
    -h2
    -h3

    - button
    - button: hover

*/

    /*FONTS
    -default Lobster
    -subtitle
*/

    /* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
*/

/*GLOBAL
=========================*/

html{
    background-color: white;
}

h1, h2{
    font-family: 'Arial', 'sans-serif' ;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 5px;
}

/*HEADER
====================*/
i{
    margin-right: 5px;
}

a.nav-link{
    color: white;
}

/*CONNECTION======================*/

.application{
    background-image: url(/ressources/gallery/books2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.connection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    
}

.form-signin{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: white;
}

.form-group{
    padding: 5px;
}

.forgotpassword{
    color: rgb(112, 112, 112);
}

.connect-button{
    margin-top: 10px;
    margin-right: 10px;  
}

/*ACCOUNT======================================*/

.dropdown-divider{
    text-align: center;
}

/*NEW-ACCOUNT==================================*/

.intitule, .intitule-required{
    font-weight: bold;
    padding: 12px;
    
}

.missive{
    font-weight: bold;
}

.validation-button{
    padding: 12px;
}

/*PASSWORD================================*/





/*FOOTER==================================*/

footer{
    background-color: black;
    background-size: cover;
    color: white;
    height: 65px;
    padding: 20px;
    text-align: center;
}

